################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeePortal/.vs/EmployeePortal/FileContentIndex/6f309f2f-95ae-4c51-8a9e-c3ff429c86e5.vsidx
